<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- DÉSACTIVER le scan des annotations -->
    <!-- <context:component-scan base-package="com.dto.delivery_tour_optimizer"/> -->
    <!-- <context:annotation-config/> -->

    <!-- Déclaration des Services -->
    <bean id="deliveryService" class="com.dto.delivery_tour_optimizer.service.DeliveryService"/>
    <bean id="tourService" class="com.dto.delivery_tour_optimizer.service.TourService"/>
    <bean id="warehouseService" class="com.dto.delivery_tour_optimizer.service.WarehouseService"/>
    <bean id="vehicleService" class="com.dto.delivery_tour_optimizer.service.VehicleService"/>

    <!-- Déclaration des Optimizers -->
    <bean id="clarkeWrightOptimizer" class="com.dto.delivery_tour_optimizer.service.ClarkeWrightOptimizer"/>
    <bean id="nearestNeighborOptimizer" class="com.dto.delivery_tour_optimizer.service.NearestNeighborOptimizer"/>
    <bean id="tourOptimizer" class="com.dto.delivery_tour_optimizer.service.TourOptimizer"/>
    <bean id="distanceUtils" class="com.dto.delivery_tour_optimizer.service.DistanceUtils"/>

    <!-- Déclaration des Contrôleurs avec injections -->
    <bean id="deliveryController" class="com.dto.delivery_tour_optimizer.controller.DeliveryController">
        <property name="deliveryService" ref="deliveryService"/>
        <property name="tourService" ref="tourService"/>
    </bean>

    <bean id="tourController" class="com.dto.delivery_tour_optimizer.controller.TourController">
        <property name="tourService" ref="tourService"/>
        <property name="warehouseService" ref="warehouseService"/>
        <property name="vehicleService" ref="vehicleService"/>
    </bean>

    <bean id="vehicleController" class="com.dto.delivery_tour_optimizer.controller.VehicleController">
        <property name="vehicleService" ref="vehicleService"/>
    </bean>

    <bean id="warehouseController" class="com.dto.delivery_tour_optimizer.controller.WarehouseController">
        <property name="warehouseService" ref="warehouseService"/>
    </bean>

</beans>